*{
    margin: 0;
    padding: 0;
    
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{
    display: grid;
    grid-template-areas: 
    "header header header"
    "side content content"
    "footer footer footer"
}
header{
    grid-area: header;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    z-index: 4;
}
article{
    grid-area: content;
    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
}
/* .content2{
    grid-area: content2;
    border: 1px solid red;
    
} */
aside{
    grid-area: side;
    /* border: 1px solid red; */
    
}
footer{
    grid-area: footer;
    /* border: 1px solid red; */
}
/*  */
.logo>img{
    width: 50px;
    height: 50px;
    
    
}
.logo{
    display: flex;
    /* border: 1px solid red; */
    width: 50px;
    
}
.lista{
   
    /* border: 1px solid red; */
    display: flex;
    width: auto;

    
    
}
a{
    text-decoration: none;
    
    padding-left: 25px;
    color: rgb(26, 25, 25);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    
    
    
}
a:hover{
    color: #fc6404;
    

}
.logo,nav{
    margin: 25px;
}
.decoration{
    position: absolute;
    content: " ";
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: #fc6c04;
    right: -350px;
    bottom: -400px;
    z-index: 0;
}
.celulares{
    position: absolute;
    justify-content: center;
    width: 450px;
    bottom: 75px;
    right: 100px;
    z-index: 1;
    
}
.textos{
    width: 800px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    
    
}
.information{
    display: flex;
    width: 500px;
    /* border: 1px solid red; */
    font-weight: bold;
    font-size: 32px ;
    background-image: linear-gradient(45deg, #f38434, #fc8129,#fc6404);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}
.inform2{
    display: block;
    width: 500px;
    color: #1d1d1d;
    font-size: 20px;
    padding-top: 10px;
}
.textos>div{
    display: block;
    width: 500px;
    height: 100vh;
    justify-content: center;
    /* border: 1px solid red; */
    
}
.social{
    
    position: absolute;
    width: 50px;
    height: auto;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    
    /* border: 1px solid red; */

    /* background-color: red; */
}
.enfeitado{
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
}
.icons>img{
    transition: 0.8s;
    width: 35px;
    
    /* border: 1px solid red; */
}
.icons>img:hover{
    transform: scale(1.08);
    transition: 0.6s;
}

.social>a{
    display: flex;
    width: 60px;
    height: 60px;
    /* border: 1px solid red; */
    
    align-items: center;
}
